body {
	background-color: rgb(2, 28, 28);
}

.App {
	height: 100%;
	text-align: center;
	margin: auto;
}

#DC {
	transform: translateY(17px);
	width: 70px;
}

label {
	font-family: "Didact Gothic", sans-serif;
	margin: 20px 0 0 0;
	color: #bababa;
}

.connect-wallet-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	font-size: large;
	max-width: 550px;
	font-family: "Montserrat", sans-serif;
}

.connect-wallet-container img {
	padding-bottom: 20px;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.authed-container {
	height: 80%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.header-container {
	margin: 15px auto;
}

.header {
	font-size: 50px;
	font-weight: bold;
	color: white;
	margin: 25px;
	font-family: "Didact Gothic", sans-serif;
}

.cta-button {
	height: 45px;
	border: 0;
	width: 40vw;
	margin: auto;
	font-family: "Quicksand", sans-serif;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.footer-container {
	position: fixed;
	top: 10px;
	right: 20px;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
}

.twitter-logo {
	width: 35px;
	height: 35px;
}

.footer-text {
	color: rgb(215, 215, 215);
	font-size: 19px;
	font-weight: bold;
	text-decoration: none;
	font-family: "Didact Gothic";
}

.gif-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-gap: 1.5rem;
	justify-items: center;
	margin: 20px;
	padding: 0;
}

.gif-grid .gif-item {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-self: center;
	align-self: center;
	font-size: large;
	font-family: "Quicksand";
	letter-spacing: 0.2px;
	color: white;
}

.gif-item img {
	width: 100%;
	height: 300px;
	margin: 15px;
	border-radius: 10px;
	object-fit: cover;
}

.connected-inputs {
	display: flex;
	flex-direction: column;
	justify-content: right;
	width: 50%;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

.gif-item span {
	margin-top: 4px;
	margin-left: 2px;
	font-size: 15px;
	font-family: "Quicksand";
	color: rgb(186, 186, 186);
}

input {
	font-family: "Didact Gothic", sans-serif;
}
